<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<main>
    <div style="max-width: 550px;margin: 0 auto;padding: 40px;text-align: center;color: #1B211A;background-color: #FFFDF6;border: none;border-radius: 40px;">
        <h2>안녕하세요!</h2>
        <p>구독을 신청해 주셔서 감사합니다.</p>
        <p>아래 버튼을 누르면 이메일 인증이 완료되며,<br>매일 요청하신 <strong>[[${preferredTime}]]</strong>에 메일을 보내드릴게요.</p>

        <div style="text-align: center; margin: 30px 0;">
            <a th:href="${verificationUrl}" class="button"
               style="background-color: #B0DB9C;color: white;padding: 15px 25px;text-decoration: none;border-radius: 10px;font-weight: bold;display: inline-block;">이메일 인증하기</a>
        </div>

        <p style="color: #787878;font-size: 14px;text-align: center;margin-top: 20px;">Meow Mail 드림 🐈</p>
        <p style="color: #787878;font-size: 12px;text-align: center;margin-top: 20px;">본인이 신청하지 않았다면 이 메일을 무시하셔도 됩니다.</p>
    </div>
</main>
</body>
</html>
