<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<main>
    <div style="max-width: 550px;margin: 0 auto;padding: 40px;background-color: #FFFDF6;border: none;border-radius: 40px;">
        <h2 style="color: #1B211A;text-align: center;">앗, 형식을 확인해 주세요!</h2>

        <div style="background-color: #FBEFEF;border: none;border-radius: 15px;padding: 10px 35px;margin: 20px 0;">
            <p style="color: #1B211A;"><strong>문제:</strong> [[${errorMessage}]]</p>
        </div>

        <div style="background-color: #ECFAE5;border: none;border-radius: 15px;padding: 10px 35px;margin: 20px 0;">
            <p style="color: #1B211A;"><strong>올바른 형식:</strong> 이메일주소 시간(HH:mm, 00:00~23:59)</p>
            <p style="color: #1B211A;"><strong>예시:</strong> example@gmail.com 09:00</p>
        </div>
        <p style="color: #1B211A;text-align: center;">위 형식에 맞게 다시 메일을 보내주시면, 귀여운 고양이 소식을 받아보실 수 있어요!</p>
        <br>
        <p style="color: #787878;font-size: 14px;text-align: center;margin-top: 20px;">Meow Mail 드림 🐈</p>
        <p style="color: #787878;font-size: 12px;text-align: center;margin-top: 20px;">본인이 신청하지 않았다면 이 메일을 무시하셔도 됩니다.</p>
    </div>
</main>
</body>
</html>
