<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<main>
    <div style="max-width: 550px;margin: 0 auto;padding: 40px;text-align: center;color: #1B211A;background-color: #FFFDF6;border: none;border-radius: 40px;">
        <h2 style="color: #333;">구독 시간이 변경되었어요!</h2>

        <p>요청하신 대로 구독 시간이 변경되었습니다.</p>

        <div style="text-align: left;background-color: #ECFAE5;border: none;border-radius: 15px;padding: 10px 35px;margin: 20px 0;">
            <p><strong>새로운 구독 시간:</strong> [[${newTime}]]</p>
        </div>

        <p>앞으로 변경된 시간에 귀여운 고양이를 보내드릴게요!</p>

        <p style="color: #787878;font-size: 14px;text-align: center;margin-top: 20px;">Meow Mail 드림 🐈</p>
        <p style="color: #787878;font-size: 12px;text-align: center;margin-top: 20px;">본인이 신청하지 않았다면 이 메일을 무시하셔도 됩니다.</p>
    </div>
</main>
</body>
</html>
