<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<main>
    <div style="max-width: 550px;margin: 0 auto;padding: 40px;text-align: center;color: #1B211A;background-color: #FFFDF6;border: none;border-radius: 40px;">
        <h2 style="color: #333;">구독 해지 방법 안내</h2>

        <p>구독 해지를 원하시나요?<br>메일 본문에 아래 키워드를 포함해서 다시 보내주세요.</p>

        <div style="text-align: left;background-color: #ECFAE5;border: none;border-radius: 15px;padding: 10px 35px;margin: 20px 0;">
            <p><strong>필수 키워드:</strong> 구독 해지</p>
            <p><strong>예시:</strong> 구독 해지 부탁드립니다.</p>
        </div>

        <p>위 키워드가 포함된 메일을 보내주시면, 구독이 해지됩니다.<br>다시 만나고 싶을 땐 언제든 돌아와 주세요!</p>

        <p style="color: #787878;font-size: 14px;text-align: center;margin-top: 20px;">Meow Mail 드림 🐈</p>
        <p style="color: #787878;font-size: 12px;text-align: center;margin-top: 20px;">본인이 신청하지 않았다면 이 메일을 무시하셔도 됩니다.</p>
    </div>
</main>
</body>
</html>
